<h1>Heroes</h1>

<% @heros.each do |hero| %>
<ul>
  <li>
    <%= link_to hero.name, hero_path(hero) %>
  </li>
</ul>
<% end %>
<% if policy(Hero).create? %>
<%= link_to "Create!", new_hero_path%>
<% end %>
