<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/vectors/vector-retro-superhero-couple-silhouette-vector-id530381521?k=6&m=530381521&s=612x612&w=0&h=nCaA8EVNJl95rcLAYKEY_bdANVTNits6YWgOWpwifq0=);">
  <div class="container">
    <h1>Be My Hero</h1>
    <p>not the hero you deserve, but the one you can afford</p>
    <a class="btn btn-gradient mt-10" href="/heros">Save Me</a>
  </div>
</div> -->

<div class="banner h-100 w-100 d-inline-block" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a4637adf-84a6-4eba-8020-71e9a0452e82/dddb6n7-74f074c6-bd9b-4814-9bdb-9fe369d842df.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYTQ2MzdhZGYtODRhNi00ZWJhLTgwMjAtNzFlOWEwNDUyZTgyXC9kZGRiNm43LTc0ZjA3NGM2LWJkOWItNDgxNC05YmRiLTlmZTM2OWQ4NDJkZi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.3xUgsT6-OKzpF0MLg8njPShJZLdsHrD_EP0ylLvfk4g);">
  <div class="d-flex justify-content-center">
    <div class="d-inline-flex flex-column">
      <div class="container">
        <h1>Be My Hero</h1>
        <p>not the hero you deserve, but the one you can afford</p>
        <a class="btn btn-gradient mt-10" href="/heros">Save Me</a>
      </div>
    </div>
  </div>
</div>



<div class="container">

  <div class="bubble left">Have a city or small planet that needs saving, or just looking for someone to get your cat out of a tree and help with groceries? Find any hero for the job. </div>
  <div class="bubble right">We offer some of the finest hero and heroines the multiverse has to offer, all just one click away... </div>
  <div class="bubble think left">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>


