.comic{
  padding: 2px;
  background: gold;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  font-family: 'Bangers', cursive;
  font-size: 15px;
}

.comicname {
  padding: 10px;
  background: gold;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  font-family: 'Bangers', cursive;
  font-size: 32px;
  text-align: center;
}
